# 默认忽略的文件
/shelf/
/workspace.xml
data/2022-01-billing
data/air_quality.csv
data/歷年國內主要觀光遊憩據點遊客人數月別統計.csv
data/intern-billing-dev.csv
data/Pricing-for-test.csv
data/01B60E-54F221-909605.csv
data/019D90-6B2163-F0491B.csv
data/019F99-DDCCA3-6C5961.csv


output/01B60E-54F221-909605.xlsx
output/019D90-6B2163-F0491B.xlsx
output/019F99-DDCCA3-6C5961.xlsx
output/時間.xlsx
output/測試.xlsx
output/當天使用的服務.xlsx
output/刪除金額及折扣空值.xlsx


.history/*
.idea/*
__pycache__/*
app/__pycache__/*

venv/*
Exercise.py/*
Exercise1.py/*
Exercise2.py/*

# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
